.btn {
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  font-family: $font-family;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
}

.btn-primary:hover {
  background-color: darken($primary-color, 10%);
}

.btn-secondary {
  background-color: $secondary-color;
  color: #fff;
}

.btn-secondary:hover {
  background-color: darken($secondary-color, 10%);
}