table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: $space-sm;
  border: 1px solid #ccc;
}

th {
  background-color: $secondary-color;
  color: #fff;
}

tr:nth-child(even) {
  background-color: lighten($secondary-color, 40%);
}
